
html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}


body 
{
    margin: 0;
    padding: 0;
    
}

/* Style for Home Page */
.home
{
    background: rgb(31, 31, 31);
    background-size: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    height: 100%;
    width: auto;

    
}

.title
{
   
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
 
}

.title-lbl
{
    
    border-top: solid;
    border-bottom: solid;
    font-family: 'Alegreya Sans SC';
    font-size: calc(20px + 2.7vw);
    margin-top: -0.8vh;

}

.title-descpt
{
    
    font-family: 'Julius Sans One';
    font-size: calc(12px + 0.9vw);
    
}

.navigation
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  
   
}

.navigation ul{
   
    
    margin-top: 4vh;
    margin-right: 6vh;
   
}
.navigation li {
    
    display: inline-block;
    opacity: 75%;
    font-size: calc(10px + 0.4vw);
    padding-left: 2.5%;
    padding-right: 2.5%;
    transition: transform 1.5s;
    font-family: 'Varela Round';
    font-weight: 700;
   
}

.navigation li:hover{

    opacity: 100%;
    transform: translateY(10px);
}


.navigation a
{
    text-decoration: none;
    color:white;
    border-radius: 8%;
    padding: 0.3em;
    
}
.navigation a:hover
{
    color:white;;
    background-color: rgba(0, 0, 0, 0);
}

.navigation .home-btn
{
    border-bottom: solid;
    padding-bottom: 2%;
}


.social_media_links
{
   
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 70%;
    margin-bottom: 7%;
   

}
.social_media_links .fa {
    
    padding: 5px;
   
    font-size: calc(20px + 1.1vw);
    width:calc(20px + 1.1vw);
    height: calc(20px + 1.1vw);
    text-decoration: none;
    text-align: center;
    margin-bottom: 17%;
    color: white;
    transition: transform 1s ease;
   
  }

  .social_media_links .fa-instagram{
      font-size:calc(18px + 1.1vw);
  }

  .social_media_links .fa:hover{
    transform: translateX(-10px);
    
  }

  .social_media_links .fa-instagram:hover
  {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  .social_media_links .fa-linkedin:hover
  {
      color: rgb(255,255,255);
      background: rgb(40, 103, 178);
  }

  .social_media_links .fa-github:hover
  {
      color: rgb(255,255,255);
      background: rgb(33, 31, 31);
  }


.home .arrow-down
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 18vh;
}

.home .arrow-down .fa 
{
    background: rgba(255, 255, 255, 0);
    width: calc(20px + 3vw);
    height: calc(20px + 3vw);
    font-size: calc(20px + 3vw);
    color: white;
    -moz-animation: wiggle 1s linear infinite;
    -o-animation: wiggle 1s linear infinite;
    -webkit-animation: wiggle 1s linear infinite;
    animation: wiggle 1s linear infinite;
   
}

@-moz-keyframes wiggle {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}

@-o-keyframes wiggle {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes wiggle {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}


@keyframes wiggle {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}
   


/* Style for About Page */
.about
{
    /*background: url(/pictures/blackwhite.jpg);*/
    background: rgb(31, 31, 31);
    background-size: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 40% 30% ;
    grid-template-rows: 10% auto auto auto;
    border-top: solid rgb(85, 84, 84) 0.5px;
    
}

.about_title
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    color:whitesmoke;
}

.about_title h1
{
    font-family: 'Julius Sans One';
    font-size: calc(20px + 1vw);
    border-bottom: solid;
    padding: 0.8em;
    border-color:rgb(92, 155, 238);
    
}

.about_text
{
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 2;
    text-align: center;
    color:whitesmoke;
   
  

}

.about_text p
{
    font-family: 'Varela Round';
    font-size: calc(16px + 0.2vw);
    margin: 0 auto;
    width: 50vw;
    margin-top: 3%;
    
}

.about_text a
{
    text-decoration: none;
    color: rgb(92, 155, 238);
    
}


.about_CV
{
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    

}

.skillbox, .languages
{
    list-style: none;
    width: auto;
    margin-left: 10%;
}


.skillbox h1, .languages h1
{
    font-family: 'Alegreya Sans SC';
    font-size: calc(25px + 1.2vw);
    text-align: center;
    border-bottom:solid grey;
    padding: 0.3em;
    width: calc(140px + 8vw);
    color: rgb(92, 155, 238);
    
}

.skillbox li, .languages li
{
    
    width: calc(5em + 33vw);
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-template-rows: 60% 40%;

}

.skillbox li h3, .languages li h3
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Varela Round';
    font-size: 1rem;
    color: whitesmoke;
}


.skillbox .bar, .languages .bar
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background: rgb(31, 31, 31);
    display: block;
    height: 1rem;
    border: 1px solid rgb(92, 155, 238);
    border-radius: 3px;
    overflow: hidden;

}

.skillbox .bar span, .languages .bar span
{
    height: 1rem;
    float: left;
    background: rgb(46, 82, 129);
    
}

.about_CV:hover .bar span
{
    
   display: block;
   animation: fillspan 2s ease;
   -o-animation: fillspan 2s ease;
   -moz-animation: fillspan 2s ease;
   -webkit-animation: fillspan 2s ease;

}



@-moz-keyframes fillspan
{
    0%
    {
        width: 0;
    }
}

@-o-keyframes fillspan
{
    0%
    {
        width: 0;
    }
}

@-webkit-keyframes fillspan
{
    0%
    {
        width: 0;
    }
}

@keyframes fillspan
{
    0%
    {
        width: 0;
    }
}

.languages h1
{
    color: rgb(247, 40, 82);
} 

.languages .bar{
    border-color: rgb(247, 40, 82);
}

.languages .bar span
{
    background: rgb(238, 33, 74);
}

.html
{ 
    width: 90%;
    
}

.css
{ 
    width: 80%;
}

.javascript
{ 
    width: 10%;
}

.c
{ 
    width: 40%;
}

.java
{ 
    width: 50%;
}

.turkish
{
    width: 100%;
}

.german
{
    width: 100%;
}

.english
{
    width: 65%;
}


.about_education
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    margin-top: 5%;
    

}

.about_education h1
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 1;
    color: cyan;
    border-bottom: solid grey;
    text-align: center;
    font-family: 'Alegreya Sans SC';
    font-size: calc(25px + 1.2vw);
    width: calc(140px + 8vw);
    margin: 0 auto;
    padding: 0.3em;
    
   
}


.about_education .institute
{
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
   
}

.about_education .institute li
{
    
    margin-top: 15%;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: whitesmoke;
}

.about_education .institute .first_institute
{
    
    margin-top: 30%;

}

.about_education .institute h2
{
   margin-left: 20%;
   font-family: 'Varela Round';
   font-size: calc(16px + 0.2vw);
   color: grey;
    
}

.about_education .institute h3
{
   margin-left: 20%;
   font-family: 'Varela Round';
   font-size: calc(16px + 0.2vw);
  
    
}

.about_education .institute h3 span
{
  color: cyan;
    
}
/* Style for Portfolio */

.portfolio
{   background: rgb(31,31,31);
    background-size: 100%;
    height: auto;
    border-top: solid rgb(85, 84, 84) 0.5px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 30% 70%;
}

.portfolio_title
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    color:whitesmoke;
}

.portfolio_title h1
{
    font-family: 'Julius Sans One';
    font-size: calc(20px + 1vw);
    border-bottom: solid;
    padding: 0.8em;
    border-color:rgb(238, 94, 94);
}

.portfolio_projects
{
  
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -8%;
    align-items: center;
    
}

.portfolio_projects .project
{
   color:whitesmoke;
   border: solid;
   border-color:rgb(238, 94, 94);
   height: calc(100px + 13vw);
   width: calc(150px + 40vw);
   margin-bottom: 5%;
   
   transition: transform 2s ease;
   
}


.portfolio_projects .project:hover
{
  background: rgb(179, 97, 97);
  transform: scale(1.1);
   
}

#project1, #project2, #project3
{
    
    text-align: center;
    margin-top: 13%;
    font-family: 'Varela Round';
    font-size: calc(16px + 0.7vw);
    color: whitesmoke;
}

.contact
{
    background: rgba(31, 31, 31);  
    border-top: solid rgb(85, 84, 84) 0.5px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 15% 42.5% 42.5%;
}

.contact_title
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    margin-top: 0%;
    color:whitesmoke;

}

.contact_title h1
{
    font-family: 'Julius Sans One';
    font-size: calc(20px + 1vw);
    border-bottom: solid;
    padding: 0.8rem;
    border-color:lightgreen;
}

.contact_text
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center; 
  
    
}

.contact_text h1
{
    margin-top: 30%;
    color: lightgreen;
    margin-left: 25%;
    font-size: calc(16px + 1vw);
    font-family: 'Varela Round';
    border-top: solid lightgreen;
    border-bottom: solid lightgreen;
    padding: 1em;
}

.contact_form
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-bottom: 5%;
   
}

.contact_form form
{
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    color:whitesmoke;
    
   
}

.contact_form .submit_btn
{
    width:7vw;
    height:6vh;
    color: lightgreen;
    border: solid;
    border-color: lightgreen;
    background: transparent;
    font-family: 'Varela Round';
    font-size: calc(15px + 0.23vw);
    margin-top: 8%;
    transition: transform 1s ease;
    
}

.submit_btn:hover
{
    background: lightgreen;
    transform: scale(1.05);
    color: rgba(31, 31, 31);
   
}



.fname_field, .lname_field, .email_field, .message_field 
{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     color:whitesmoke;
     font-family: 'Varela Round';
     font-size:calc(15px + 0.25vw);
     margin-top: 20%;
}

.contact_form input
{   border: none;
    background: rgb(48, 46, 46);
    border-bottom: solid lightgreen;
    color:whitesmoke;
    font-family: 'Varela Round';
    margin-top: 2%;
   
   
}

input::placeholder, textarea::placeholder
{
    color:white;
    
}

input:focus, textarea:focus
{
    outline: solid transparent;
}

.contact_form textarea
{
    margin-top: 2%;
    border: none;
    background: rgb(48, 46, 46);
    border: solid lightgreen;
    height: 60px;
    color: whitesmoke;
    font-family: 'Varela Round';
    width:150%;
}



.footer
{
    background: rgb(24, 24, 24);
    height: 10%;
    border-top: solid rgb(85, 84, 84) 0.5px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-template-rows: auto;
}

.footer_copyright
{
    
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

.footer_copyright h1
{
   margin-top: 6%;
   font-size:calc(5px + 0.5vw);
   color: whitesmoke;
   font-family: 'Varela Round';
}

.footer_navigation
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    
}

.footer_navigation ul
{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer_navigation li {
    
   
    opacity: 75%;
    font-size:calc(6px + 0.4vw);
    font-family: 'Varela Round';
    font-weight: 700;
   
}

.footer_navigation li:hover{

    opacity: 100%;    
}

.footer_navigation a
{
    
    color:white;
    text-decoration: none;
    
}
.footer_navigation a:hover
{
    color:white;
    background-color: rgba(0, 0, 0, 0);

}

.footer_links
{
   
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: inline-block;
    text-align: center;
    

}
.footer_links .fa {
    
    margin-top: 5%;
    font-size:calc(10px + 0.9vw);
    text-decoration: none;
    color: whitesmoke;
    opacity: 75%;
    margin-right: 3%;
    

   
  }
  
  .footer_links .fa:hover {
    
   opacity: 100%;
   
  }


@custom-media --viewport-1 (min-width: 480px);
@custom-media --viewport-2 (min-width: 768px);
@custom-media --viewport-3 (min-width: 992px);
@custom-media --viewport-4 (min-width: 1200px);

@media (max-width: 600px)
{
    

.contact
{
    background: rgba(31, 31, 31);
    background-size: 100%;
    height: auto;
    border-top: solid rgb(85, 84, 84) 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contact_title
{
    text-align: center;
    margin-top: 0%;
    color:whitesmoke;
    margin: 0 auto;
    width: 60%;

}



.contact_text
{
    display: block;
    text-align: center; 
}

.contact_text h1
{
    margin: 0 auto;
    color: lightgreen;
    font-size: calc(16px + 1vw);
    font-family: 'Varela Round';
    width: 80%;
    border: solid transparent;
}

.contact_form form
{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    color:whitesmoke;
   
}


.fname_field, .lname_field, .email_field, .message_field, .submit_btn 
{
    margin-top: 20%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     color:whitesmoke;
     font-family: 'Varela Round';
     font-size: calc(10px + 1.5vw);
}

.contact_form input
{   border: none;
    background: rgb(48, 46, 46);
    border-bottom: solid lightgreen;
    color:whitesmoke;
    font-family: 'Varela Round';
    font-size:1.5rem;
    height: 2.5rem;
    margin-top: 4%;
}

.contact_form textarea
{
    
    border: none;
    background: rgb(48, 46, 46);
    border: solid lightgreen;
    color: whitesmoke;
    font-family: 'Varela Round';
    font-size:1.5rem;
    width:100%;
    height: 10rem;
}

.contact_form .submit_btn
{
    margin-top: 20%;
    margin-bottom:10%;
    align-items: center;
    width:25vw;
    height:10vh;
    color: lightgreen;
    border: solid;
    border-color: lightgreen;
    background: transparent;
    font-family: 'Varela Round';
    font-size: calc(13px + 1.5vw);
    transition: transform 1s ease;
    
}


.footer
{
    background: rgb(24, 24, 24);
    height: auto;
    border-top: solid rgb(85, 84, 84) 0.5px;
    display: flex;
    flex-direction: column;
    
}

.footer_copyright
{
    
    margin: 0 auto;
}

.footer_copyright h1
{
   font-size:calc(7px + 0.5vw);
   color: whitesmoke;
   font-family: 'Varela Round';
   margin-top: 10%;
   margin-bottom: 5%;
}

.footer_navigation
{
    margin-right: 28px;
}

.footer_navigation ul
{
   
    align-self: center;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    
}

.footer_navigation li {
    
   
    margin-top: 2%;
    opacity: 75%;
    font-size:calc(10px + 0.4vw);
    font-family: 'Varela Round';
    font-weight: 700;
   
}

.footer_navigation li:hover{

    opacity: 100%;    
}

.footer_navigation a
{
    
    color:white;
    text-decoration: none;
    
}
.footer_navigation a:hover
{
    color:white;;
    background-color: rgba(0, 0, 0, 0);

}

.footer_links
{

    display: flex;
    flex-direction: row;
    align-self: center;
    
    

}
.footer_links .fa {
    
    
    margin-top: 5%;
    padding: 1vw;
    font-size:calc(20px + 0.4vw);
    text-decoration: none;
    color: whitesmoke;
    opacity: 75%;
    
    

   
  }

}



 